<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChanDoiDeLamGi?</title>
    <link rel="stylesheet" href="{{{css}}}">
    <script src="/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    .header {
        display: flex;
        height: 90px;
    }

    .div-home {
        height: 90px;
        width: 10%;
        background-color: #4caf50;
    }

    .div-title {
        height: 90px;
        width: 30%;
        background-color: #0baa10;
    }

    .div-search {
        height: 90px;
        width: 60%;
        background-color: #0baa10;
    }

    .div-home .button-home {
        height: 50%;
        width: 50%;
        margin-top: 15%;
        margin-left: 40%;
        margin-right: 25%;
        margin-bottom: 25%;
        color: white;
        background-color: #0baa10;

    }

    .div-home .button-home:hover {
        background-color: green;
    }

    .div-title .title {
        color: white;
        height: 46px;
        width: 80%;
        padding: 5% 25%;
        background-color: #0baa10;
        font-size: 50px;
        font-style: oblique;


    }

    .div-search .container {
        display:flex;
        height: 50%;
        width: 90%;
        margin-left: 10%;
        margin-top: 2.5%;
        background-color: aliceblue;
    }

    .container .search{
        height: 100%;
        width:60%;
        font-size: 150%;
    }

    .container .icon {
        height: 100%;
        width: 60%;
        margin-left:20px;
        margin-top: 2%;
        background-color: #0baa10;

    }
</style>

<body>
    <header class="header">
        <div class="div-home">
            <button class="button-home" style="font-weight: bold;">
                HOME
                <img src="../../public/img/logo.png">
            </button>
        </div>

        <div class="div-title">
            <div class="title">CHÁN ĐỜI ?</div>

        </div>

        <div class="div-search">
            <div class="container">
                <input type="search" class="search" placeholder="Bạn đang có vấn đề ?">
                <span class="icon"><i class="fa fa-search"></i></span>
            </div>
        </div>


        </div>
    </header>
    {{{body}}}
</body>

</html>