<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChanDoiDeLamGi?</title>
    <link rel="stylesheet" href="{{{css}}}">
    <script src="/jquery-3.4.1.js"></script>
</head>
<style>
    .header {
        display: flex;
        height: 90px;
    }

    .div-home {
        height: 90px;
        width: 10%;
        background-color: #4caf50;
    }

    .div-title {
        height: 90px;
        width: 30%;
        color: white;
        background-color: red;
    }

    .div-search {
        height: 90px;
        width: 60%;
        background-color: black;
    }

    .btn-home{

    }
    
</style>

<body>
    <header class="header">
        <div class="div-home">
            <button class="btn-home">HOME</button>
        </div>
        <div class="div-title"></div>
        <div class="div-search"></div>
    </header>
    {{{body}}}
</body>

</html>