<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChanDoiDeLamGi?</title>
    <link rel="stylesheet" href="{{{css}}}">
    <script src="/jquery-3.4.1.js"></script>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
    }
    .header {
        display: flex;
        width: 100%;
        height: fit-content;
        position: fixed;
        margin-left: 0%;
    }

    .div-home {
        height: 70px;
        width: 10%;
        background-color: #4caf50;
    }

    .div-title {
        height: 60px;
        width: 30%;
        background-color: #0baa10;
    }

    .div-search {
        height: 70px;
        width: 60%;
        background-color: #0baa10;
    }

    .div-home .logo img{
        height: 50%;
        width: 50%;
        margin-top: 15%;    
        margin-left: 50%;
        margin-right: 25%;
        margin-bottom: 25%;
        color: white;
        background-color: #0baa10;
    }

    .div-home .button-home:hover {
        background-color: green;
    }

    .div-title .title {
        color: white;
        height: 70px;
        width: 80%;
       
        padding: 0% 15%;
        margin-top: 0%;
        background-color: #0baa10;
        font-size: 40px;
        font-style: oblique;


    }

    .div-search .container {
        height: 50%;
        width: 70%;
        position: relative;
        margin-left: 10%;
        margin-top: 2.5%;
        background-color: aliceblue;

    }

    .container .search {
        height: 100%;
        width:100%;
        position: relative;
        font-size: 150%;
    }

    .container .icon {
        margin-left:20px;
        margin-top: 2%;
        position: absolute;
        right: 10px;
    }
    
</style>

<body>
    <header class="header">
        <div class="div-home">
            <a class="logo" href="">   
                <img src="http://localhost:6061/img/logo.png">
            </a>
        </div>

        <div class="div-title">
            <div class="title">CHÁN ĐỜI ?</div>

        </div>

        <div class="div-search">
            <div class="container">
                <input type="search" class="search" placeholder="Bạn đang có vấn đề ?">  
                <span class="icon"><i class="fa fa-search"></i></span>
            </div>
        </div>


        </div>
    </header>
    {{{body}}}
</body>

</html>