<div class="box_game">
    <iframe src="{{link_game}}" width="600px" height="400px" frameborder="no"></iframe>
</div>
<form class="form-game" action="/game" method="GET">
    <button class="btn-refresh" type="submit" title="Refresh"></button>
</form>