<div class="box-game">
    <div class="game-tri-tue">
        <div>
            <p>GAME TRI TUE</p>
        </div>
        <div>
            <form action="/clicked-game" method="GET">
                <button type="submit" class="dino-jump"></button>
                <p>DINO JUMP</p>
                <input type="submit" value="1111" name="getValue">
            </form>
        </div>
        <div>
            <button type="submit" class="bounce-ball" value=""></button>
            <p>BOUNCE BALL</p>
        </div>
        <div>
            <button type="submit" class="light-ray" value=""></button>
            <p>LIGHT RAY</p>
        </div>
        <div>
            <button type="submit" class="poop-it"></button>
            <p>POOP IT</p>
        </div>
        <div>
            <button type="submit" class="halloween-bingo"></button>
            <p>HALLOWEEN BINGO</p>
        </div>
    </div>

    <div class="div-game">
        <iframe src="{{link_game}}" width="600px" height="400px" frameborder="no"></iframe>
    </div>

    <div class="game-hanh-dong">
        <div>
            <p>GAME HANH DONG</p>
        </div>
        <div>
            <button type="submit" class="ecypt-stone-war"></button>
            <p>ECYPT STONE WAR</p>
        </div>
        <div>
            <button type="submit" class="forest-war"></button>
            <p>FOREST WAR</p>
        </div>
        <div>
            <button type="submit" class="the-office-guy"></button>
            <p>THE OFFICE GUY</p>
        </div>
        <div>
            <button type="submit" class="knights-diamond"></button>
            <p>KNIGHTS DIAMOND</p>
        </div>
        <div>
            <button type="submit" class="soldiers-combat"></button>
            <p>SOLDIERS COMBAT</p>
        </div>
    </div>
</div>

<form class="form-game" action="/game" method="GET">
    <button class="btn-refresh" type="submit" title="Refresh"></button>
</form>

<script>
    $("button").click(function () {

    })
</script>