<div class="link_game">
    <iframe src="{{link_game}}" width="600px" height="400px" frameborder="no"></iframe>
</div>
<form action="/game" method="GET" class="button">
    <button type="submit" title="Refresh" class="btn-refresh"></button>
</form>