<div class="home">

    <img src="/img/chandoi.jpg">

    <p>
        <mark>FEEDBACK</mark>
    </p>
    <div class="feedback">

        <div class="people1">
            <img width="80%" height="80%" src="/img/trung.jpg">
            <p> Trung, 18 tuổi, Hà Nội </p>
            <p> Trang web rất hay và hữu ích cho những người chán đời như tôi </p>

        </div>
        <div class="people2">
            <img width="80%" height="80%" src="/img/huy.jpg">
            <p> Huy, 22 tuổi, Hà Nội </p>
            <p> Trang web không ra gì, tốn thời gian !</p>

        </div>

        <div class="people3">
            <img width="100%" height="80%" src="/img/khabanh.jpg">
            <p> Bảnh, 20 tuổi, Bắc Ninh </p>
            <p> Web rất thích hợp cho người chán chả có việc gì làm như em </p>

        </div>

        <div class="people4">
            <img width="80%" height="80%" src="/img/anhdaden.jpg">
            <p> Ðen nhưng không vâu, châu Phi </p>
            <p>Web hay phát khóc</p>

        </div>

        <div class="people5">
            <img width="90%" height="80%" src="/img/obama.jpg">
            <p> Obama, Mỹ</p>
            <p> Về hưu chán quá may mà biết đến web này </p>

        </div>


    </div>


    <p>
        <mark>MENU</mark>
    </p>

    <form action="hienxinhgai">

        <div class="menu">
            <button class="game"> GAME </button>
            <button class="music"> MUSIC </button>
            <button class="film"> FILM </button>
            <button class="xam"> XÀM </button>
            <button class="xam"> XÀM </button>

        </div>

    </form>

</div>

<footer>
    
</footer>