   <img src="./img/dauhoi">
   <div class="feedback">
       <b>FEEDBACK</b>
            <div class="people1">
                <img src="/public/img/trung.jpg">
                <p> 18 tuổi, Hà Nội </p>
                <p> Trang web rất hay và hữu ích cho những người chán đời như tôi</p>>

            </div>



    






