.box_audio {
    text-align: center;
    padding-top: 120px;
    display: flex;
}

.form-back {
    width: 15%;
}

.div_audio {
    width: 70%;
}

.form-next {
    width: 15%;
}

.btn-back {
    height: 100px;
    width: 50px;
    cursor: pointer;
    clip-path: polygon(100% 0, 40% 50%, 100% 100%, 60% 100%, 0% 50%, 60% 0);
    background-color:#4caf50;
    border: none;
    margin-top: 30px ;
}
.btn-back:hover{
    background: url(https://st.gamevui.com/images/image/2019/03/29/doraemon-nobita-tra-thu-20.jpg);
    background-size:30% ;
}

.btn-next {
    height: 100px;
    width: 50px;
    cursor: pointer;
    clip-path: polygon(40% 0, 100% 50%, 40% 100%, 0% 100%, 60% 50%, 0% 0%);
    background-color:#4caf50;
    border: none;
    margin-top: 30px ;
}

.btn-next:hover{
    background: url(https://st.gamevui.com/images/image/2019/03/29/doraemon-nobita-tra-thu-20.jpg);
    background-size:30% ;
}