.home {
  padding-top: 80px;
  margin-left: 50px;
}
.feedback {
  display: flex;
}
mark {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #4caf50;
  font-size: 30px;
  color: white;
}

.people1 {
  width: 20%;
  padding: 10px;
  margin-bottom: 2em;
  text-align: center;
  cursor: pointer;
}

.people1:hover {
  border: 1px solid #eee;
}

.people2 {
  width: 20%;
  padding: 10px;
  margin-bottom: 2em;

  text-align: center;
  cursor: pointer;
}

.people2:hover {
  border: 1px solid #eee;
}

.people3 {
  width: 20%;
  padding: 10px;
  margin-bottom: 2em;

  text-align: center;
  cursor: pointer;
}

.people3:hover {
  border: 1px solid #eee;
}

.people4 {
  width: 20%;
  padding: 10px;
  margin-bottom: 2em;

  text-align: center;
  cursor: pointer;
}

.people4:hover {
  border: 1px solid #eee;
}

.people5 {
  width: 20%;
  padding: 10px;
  margin-bottom: 2em;

  text-align: center;
  cursor: pointer;
}

.people5:hover {
  border: 1px solid #eee;
}

menu {
  width: 100%;
  display: flex;
}
.menu .game {
  width: 200px;
  height: 200px;
  background: url(./img/game.png);
  border-color: green;
  border-spacing: 2px;
  color: red;
  margin-top: 0px;
  padding: 15px 25px;
  font-size: 50px;
  cursor: pointer;
  float: left;
}

.menu .music {
  width: 200px;
  height: 200px;
  background: url(./img/music.jpg);
  border-color: green;
  border-spacing: 2px;
  color: red;
  margin-top: 0px;
  padding: 15px 25px;
  font-size: 50px;
  cursor: pointer;
  float: left;
}

.menu .film {
  position: absolute;
  width: 200px;
  height: 200px;
  background: url(./img/film.jpg);
  border-color: green;
  border-spacing: 2px;
  color: red;
  padding: 15px 25px;
  font-size: 50px;
  cursor: pointer;
  float: left;
}

.menu .xam {
  position: absolute;
  width: 200px;
  height: 200px;
  background: url(./img/icon.jpg);
  border-color: green;
  border-spacing: 2px;
  color: red;
  padding: 15px 25px;
  margin-left: 200px;

  font-size: 50px;
  cursor: pointer;
  float: left;
}

footer {
  display: block;
}
