

.button1{
  position: absolute;
  width: 100px;
  height: 100px;
  background-color:#4caf50;
  border: none;
  color: white;
  margin-top: 0px;
  margin-left: 5px;
  margin-right: 900px;

  padding: 15px 25px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  float: left;
}
 .button1:hover {
  background-color:green;
}

.button2{
  position: absolute;
  width: 100px;
  height: 100px;
  background-color:#4caf50;
  border: none;
  color: white;
  margin-top: 0px;
  margin-left: 200px;
  margin-right: 900px;

  padding: 15px 25px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  float: left;
}
 .button2:hover {
  background-color: green;
}

.button3{
  position: absolute;
  width: 100px;
  height: 100px;
  background-color:#4caf50;
  border: none;
  color: white;
  margin-top: 0px;
  margin-left: 400px;
  margin-right: 900px;

  padding: 15px 25px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  float: left;
}
.button3:hover {
  background-color: green;
}
 

.button4{
  position: absolute;
  width: 100px;
  height: 100px;
  background-color:#4caf50;
  border: none;
  color: white;
  margin-top: 0px;
  margin-left: 600px;
  margin-right: 900px;

  padding: 15px 25px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  float: left;
}
.button4:hover {
  background-color: green;
}

.button5{
  position: absolute;
  width: 100px;
  height: 100px;
  background-color:#4caf50;
  border: none;
  color: white;
  margin-top: 0px;
  margin-left: 800px;
  margin-right: 900px;

  padding: 15px 25px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  float: left;
}
.button5:hover {
  background-color: green;
}

.button6 {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color:#4caf50;
  border: none;
  color: white;
  margin-top: 0px;
  margin-left: 1000px;
  margin-right: 900px;

  padding: 15px 25px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  float: left;
}
.button6:hover {
  background-color: green;
}

.button7 {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color:#4caf50;
  border: none;
  color: white;
  margin-top: 0px;
  margin-left: 1200px;
  margin-right: 900px;

  padding: 15px 25px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  float: left;
}
.button7:hover {
  background-color: green;
}